<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/allevents.css' />
  <title>Document</title>
</head>
<body>


<div class="main-contents-events">
  <div class="title-div">

    <h1 class="events-title">All Events</h1>
  </div>

  <section class="events-wrapper">

    {{#each allEvents}}
    <div class="events-info">

      <img class="img_events_all" src="{{this.imgPath}}" alt="events_img">

      <h3>{{this.eventName}}</h3>
      <h4 class="events-title">{{this.type}}</h4>
      <p>Date{{this.date}}</p>

      <h4>Diet:</h4>
      <ul>
      {{#each restrictions}}
      <li>{{this.restrictions}}</li>
      {{/each}}
      </ul>
    
      <p><a href="/event/{{this._id}}">See more</a></p>
    </div>
    {{/each}}

  </section>
</div>

  
</body>
</html>