<div class="main-contents-events">
  <div class="title-div">

    <h1 class="events-title">All Events</h1>
  </div>

  {{!-- Filters --}}
  <aside>
   

    <form id="filter-form">
       {{!-- <h4>All Tags</h4> --}}
      <ul class="tag-ul" data-category="{{restrictions}}">
        {{#each tags}}
        <li class="info-li">
          <label for="input_{{this._id}}">{{this.restrictions}}</label>
          <input name="restrictions" value="{{this._id}}" id="input_{{this._id}}" type="checkbox"
            data-tag-id="{{this._id}}">
        </li>
        {{/each}}


        {{!-- {{#each type}}
      <li>
        <label for="input_{{this}}">{{this}}</label>
        <input name="type" value="{{this}}" id="input_{{this}}" type="checkbox" data-tag-id="{{this}}">
      </li>
      {{/each}} --}}
      </ul>
    </form>

  </aside>



  <section id="events-wrapper-two" class="events-wrapper">

    {{#each allEvents}}
    <div class="events-info">

      <img class="img_events_all" src="{{this.imgPath}}" alt="events_img">
<div class="info-box">
      <h3>{{this.eventName}}</h3>
      <h4 class="events-title">{{this.type}}</h4>
      <h4>Date:</h4>
      <p>{{this.dateOfEvent}}</p>
      {{!-- <p>May 03 2020 09:30</p> --}}

      {{!-- <h4>Diet:</h4> --}}
      <ul class="padding-ul">
        {{#each restrictions}}
        <li class="events-info-list">{{this.restrictions}}</li>
        {{/each}}
      </ul>

      <p><a class="middle-button" href="/event/{{this._id}}">See more</a></p>
</div>
    </div>
    {{/each}}

  </section>
</div>