<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{#each styles}}
  <link rel="stylesheet" href="/stylesheets/{{this}}">
  {{/each}}
  {{#each scripts}}
  <script type="module" src="/javascript/{{this}}"></script>
  {{/each}}
  <script src="./javascript/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body id="body">
  <header>

    <nav class="flex">
      <div id="blank1"></div>
      <div>
        <ul class="ul flex">
          <li class="li">
            <a href="/"><img src="" alt="">Logo</a>
          </li>
          <li class="li">
            <a href="/allevents"><span>Events</span></a>
          </li>
          {{#if isLoggedIn}}
          <li class="li">
            <a href="/create-event"><span>Create event</span></a>
          </li>
          <li class="li">
            <a href="/managepage"><span>My events</span></a>
          </li>
          <li class="li">
            <a href="/myprofile"><span>My profile</span></a>
          </li>
          <li class="li">
            <a href="/logout"><span>Log out</span></a>
          </li>
          <div id="blank"></div>
          {{else}}
          <li class="li">
            <a href="/signup"><span>Sign up</span></a>
          </li>
          <li class="li">
            <a href="/login"><span>Log in</span></a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>

  </header>
  {{{body}}}
</body>

</html>