<section>
    <div id="about">
        <div>
            <img src="{{theUser.profilePicturePath}}" alt="">
        </div>
        <div id="form_part">
            <h1>Here more about {{theUser.firstName}}</h1>
            <div>
                <label for="firstName">First name</label>
                <p>{{theUser.firstName}}</p>
            </div>
            <div>
                <label for="city">City</label>
                <p>{{theUser.address.city}}</p>
            </div>
            <div>
                <label class="about_me" for="description">About me</label>
                <p>{{theUser.description}}</p>
            </div>
        </div>
    </div>
</section>

{{!-- http://localhost:3000/member/5ea738fab4a2b1317040d2e9 --}}